p {
    color: red;
    
}

body {
    background: url(./image/PosterMaker_11032023_181221.png);
    background-repeat: no-repeat;
    height: 130vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.container {
    color:blue;
    font-size: 30px;
    margin-top: -15px;

    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -280px;
    margin-left: 170px;
    

}

nav ul li {
    display: inline-block;
    padding: 10px 20px;
    list-style: none;
    font-size: 30px;
    border: none;
    border-radius: 2px;
    padding: 5px 12px;
    background-color: blue;
    margin-top: -10px;
    margin-left: 40px;
    margin-right: 0px;
    
    
}
nav ul li a {
    color: white;
}

.price{
    margin-top: 570px;
    align-items: center;
    color: blue;
    margin-left: 50px;
}

button {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-size: 20px;
}